<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
  </head>

  <body>

    {% load crispy_forms_tags %}
    {% block content%}
      <div class="container">
        <form method="POST" >
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register</legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Sign Up</button>

          </div>
        </form>
        <div class="border-top pt-3">
          <small class="text-muted">
              Already Have An account? <a href="{% url 'login' %}">Sign In</a>
          </small>
        </div>
      </div>
    {% endblock content %}
  </body>
</html>
