{% load staticfiles %}
<html>
  <head>
    <title>Chatbot</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/speech-input.css' %}"/>
  </head>
  <body>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script> -->


         <nav class="navbar navbar-inverse">
           <div class="container-fluid">
             <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">Chatbot</a>
             </div>
             <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav">
                 <li class="active"><a href="#">Home</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">


                 {% if user.is_authenticated %}
                   <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
                 {% else %}
                   <li><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
                   <li><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
                 {% endif %}

               </ul>
             </div>
           </div>
         </nav>




    <div class="container">
      {% block content %}
      <h3>Hello {{ user.username }}</h3>
      {% endblock content %}
      <div class="page-header text-center">
        <h1>Django Dialogflow</h1>
      </div>

      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <ul class="list-group js-chat-log">
          </ul>

          <div class="input-group input-group-lg ">
            <input type="text" class=" js-text speech-input" placeholder="Type something to begin..." />
            <span class="input-group-btn">
              <button class="btn btn-primary js-say">Submit</button>
            </span>
          </div>

          <!-- <input type="text" class="speech-input" name="" value=""> -->
        </div>
      </div>
    </div>

    <!-- <div id="testspeak">

    </div> -->

   <!-- <input type="text" id="testspeak" name="" value=""> -->
    <!-- <script>
    window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
    let finalTranscript = '';
    let recognition = new window.SpeechRecognition();

    recognition.interimResults = true;
    recognition.maxAlternatives = 10;
    recognition.continuous = true;

    recognition.onresult = (event) => {
      let interimTranscript = '';
      for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
        let transcript = event.results[i][0].transcript;
        if (event.results[i].isFinal) {
          finalTranscript += transcript;
        } else {
          interimTranscript += transcript;
        }
      }

      document.getElementById('testspeak').innerHTML = finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</>';
    }
    recognition.start();
  </script> -->

    <!-- working modal thing -->
    <div class="modal fade" id="myModal" role="dialog">
       <div class="modal-dialog modal-lg">

         <!-- Modal content-->
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title">Temperature & Humidity Graph</h4>
           </div>
           <div class="modal-body">

              {% include 'line_chart.html' %}
             <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script> -->
              <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->
             <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script> -->
             <!-- <canvas id="myChart"></canvas> -->

             <!-- <script type="text/javascript">
                 $.get('{% url "line_chart_json" %}', function(data) {
                     // myNewChart.update();
                     var ctx = $("#myChart").get(0).getContext("2d");
                     //new Chart(ctx).Line(data);
                     var myNewChart = new Chart(ctx , {
                         type: "line",
                         data: data,
                     });
                   });

                  console.log(data);


             </script> -->
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </div>

       </div>
     </div>





    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/speech-input.js' %}"></script>

    <script>
      var $chatlog = $('.js-chat-log');
      var $input = $('.js-text');
      var $sayButton = $('.js-say');
      var dialogflowUrl = '{% url "index" %}';
      var csrftoken = Cookies.get('csrftoken');
      //alert(csrftoken);
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      function createRow(text) {
        var $row = $('<li class="list-group-item"></li>');
        var list = '<li class="list-group-item">'
        var k = text.split("\n")

        for(i=0;i<k.length;i++) {
            list += k[i]+"<br />"
        }

        list = list + "</li>"
        $row.text(list);
        $chatlog.append(list);
      }

      window.onload = createRow('<b><font size="4" face="Lucida Console">Chat with Agent</font></b>');

      function submitInput() {
        var inputData = {
          'text': $input.val()
        }
        // Display the user's input on the web page
        createRow(inputData.text);
        var dialogflowChatUrl = '{% url "chat" %}';
        var $submit = $.ajax({
          type: 'POST',
          url: dialogflowChatUrl,
          data: JSON.stringify(inputData),
          contentType: 'application/json'
        });

        $submit.done(function(statement) {
            createRow(statement.text);
            // Clear the input field
            $input.val('');
        });

        $submit.fail(function() {
          // TODO: Handle errors
        });
      }

      $sayButton.click(function() {
        submitInput();
      });

      $input.keydown(function(event) {
        // Submit the input when the enter button is pressed
        if (event.keyCode == 13) {
          submitInput();
        }
      });
    </script>




  </body>
</html>
